* {
    user-select: none;
}

.header-brand {
    animation: color-change 10s infinite linear;
}
.card {
    margin: 1rem auto;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: left;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

    @keyframes color-change {
        0%, 100% {
            color: gray;
        }50% {
            color: white;
        }
    }

.card-deck {
    max-width: 1300px;
    margin: 0 auto !important;
    padding: 4rem 0 0 0;
    position: relative;
}

.carousel {
    position: fixed !important;
    width: 100%;
    height: 100%;
}

#carouselExampleIndicators {
    margin: 0 auto;
}

.btn {
    transition: 1s ease-in-out;
}

.btn:hover {
    transition: 1s ease-in-out;
}

.welcome-page {
    background-size: cover;
    color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    position: fixed;
    font-size: 3rem;
    padding-top: 10%;
    background: url("https://images2.alphacoders.com/755/755832.jpg") no-repeat center;
}

.wp_btn {
    padding: 1rem 4rem;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border-radius: 2rem;
    transition: 1s ease-in-out;
    box-shadow: .4rem .4rem rgba(255, 255, 255, 0.1);
    outline: none;
    border: 2px white solid;
}

.col-centered{
    float: none;
    margin: 0 auto;
    max-width: 1100px;
}

.wp_btn:hover {
    color: black;
    background-color: white;
    transition: 1s ease-in-out;
}
.wp_title {
    text-align: center;
    color: #fff;
    /* letter-spacing: -7px; */
    font-weight: 100;
    text-transform: uppercase;
    animation: blur 3s ease-out infinite;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    font-size: 7rem;
    margin-bottom: 5%;
  }


.card {
    width: 18rem;
}
  @keyframes blur {
    from {
      text-shadow:0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 10px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #7B96B8,
        0px 0px 75px #7B96B8,
        0px 5px 50px #7B96B8,
        0px 5px 50px #7B96B8,
        0px 5px 50px #7B96B8,
        0px 5px 50px #7B96B8,
        0px -5px 50px #7B96B8,
        0px -5px 50px #7B96B8;
    } 
  }


.video {
    margin: 0 auto;
    height: 1200px;
    width: 100%;
}

@media screen and (max-height: 1199px){
    .video {
        height: 1000px;
    }
}

@media screen and (max-height: 1099px){
    .video {
        height: 900px;
    }
}

@media screen and (max-height: 999px){
    .video {
        height: 800px;
    }
}
@media screen and (max-height: 899px){
    .video {
        height: 700px;
    }
}

@media screen and (max-height: 799px){
    .video {
        height: 600px;
    }
}

@media screen and (max-height: 699px){
    .video {
        height: 500px;
    }
}

@media screen and (max-height: 599px){
    .video {
        height: 400px;
    }
}

@media screen and (max-height: 499px){
    .video {
        height: 300px;
    }
}

@media screen and (max-height: 399px){
    .video {
        height: 200px;
    }
}

@media screen and (max-height: 299px){
    .video {
        height: 100px;
    }
}

@media screen and (max-width:425px){
    .wp_title {
        font-size: 4rem;
        padding-top: 30%;
    }
}

@media screen and (max-width:320px){
  .wp_title {
      font-size: 3rem;
      padding-top: 40%;
      }
  }